

.container{
    display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: auto;
  margin-top: 12vh;


  }
  .left-container{
    flex: 1;
    position: relative;
  }
  .right-container{
    flex: 1; 
    max-width: 450px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem 3rem;
  background-color: linear-gradient(to bottom, #d27b7b, red);

  }

  .inputs {
    position: relative;
    margin: 30px 0px;
    max-width: 50vh;
  }
  
  .inputs label {
    position: relative;
    left: 5px;
    margin-top: 2rem;
    transform: translateY(-50%);
    color: #0e0d0d;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    
  }
  
  input:focus ~ label, 
  input:valid ~ label {
    top: -5px;
  }
  
  .inputs input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: 2px solid rgb(108, 107, 107);
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #050505;
    margin: 1rem 0;
    border-radius: 5px;
  }

  .text .headSign{
    font-size: 2rem;
    color: #000000;
  }

  .button-l {
    margin-top: 3vh;
    width: 24vh;
    height: 5.5vh;
    border-radius: 40px;
    background-color: #14467c;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.4s ease;
    color: #fffafa;

}

.button-l:hover {
    background-color: #1a5ea6;
}

.smalltext{
    margin: 1rem 0;
}

  